@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Http;
@using Helper;
@using Microsoft.Extensions.Configuration;
@using CapaNegocio.Contracts;
@using AplicacionWeb.SistemaVentas.Services.Security.Contracts;
@using AplicacionWeb.SistemaVentas.Models.Response

@inject IWebHostEnvironment enviroment
@inject IHttpContextAccessor  accessor
@inject IConfiguration configuration
@inject ISecurityService securityService
@inject ISessionIdentity sessionIdentity

@{
    //SessionIdentity sessionIdentity = new SessionIdentity(securityService, accessor);

    //Datos del usuario en sesión.
    UsuarioIdentityViewModel usuarioActual = sessionIdentity.GetUserLoggedFull();

    //Menú a mostrar del usuario en sesión.
    MenuItemViewModel menu = await sessionIdentity.GetMenuByUserIdAsync(usuarioActual.IdUsuario);

    object modeloSidebarMenu = new
    {
        UsuarioActual = usuarioActual,
        Menu = menu
    };

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AplicacionWeb.SistemaVentas</title>

    <link href="~/lib/jquery-mCustomScrollbar/dis/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/icons/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/lib/dataTables-bootstrap5/dist/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />

    <link href="~/lib/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/css/compatibilityTimePicker.css" rel="stylesheet" />
    <link href="~/css/site.bundle.min.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>
    <!--Iconos para la alerta bootstrap-->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>

    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header px-2 py-3">
            <h5 class="text-truncate d-block">Ferretería san cristobal</h5>
        </div>
        <partial name="~/Views/Shared/_SidebarMenu.cshtml" model="@modeloSidebarMenu" />
    </nav>
    <div class="container-fluid" id="content">
        <nav class="navbar py-0 shadow navbarCustom">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn rounded-circle text-white sidebar-expandir"
                        style="background-color: #367fa9;">
                    <i class="bi bi-menu-button-wide"></i>
                </button>

                <span class="navbar-brand mx-3 text-white d-none d-lg-block">Sistema de ventas</span>

                <ul class="navbar-nav flex-row flex-wrap ms-md-auto " id="ul-session">
                    <partial name="~/Views/Shared/_Notification.cshtml" />
                    <partial name="~/Views/Shared/_Logon.cshtml" model="@usuarioActual" />
                </ul>
                <!-- <a class="btn btn-success d-lg-inline-block my-2 my-md-0 ms-md-3" href="#">Download</a> -->
            </div>
        </nav>

        <partial name="~/Views/Shared/_Breadcrumb.cshtml" />

        <main role="main" class="px-2 pt-1 ">
            @RenderBody()
        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - AplicacionWeb.SistemaVentas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/dataTables-bootstrap5/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/dataTables-bootstrap5/dist/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-mCustomScrollbar/dis/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/lib/axios.min.js"></script>
    <script src="~/lib/decimal.min.js"></script>
    <script src="~/lib/dayjs/dayjs.min.js"></script>
    <script src="~/lib/dayjs/plugin/customParseFormat.js"></script>
    <script src="~/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/js/utilitarios/utils.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/Modal/modalCajaApertura.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/main.min.js" asp-append-version="true"></script>

    @*@await RenderSectionAsync("Scripts", required: false)*@

    @*Agregando pluyin para trabajar con formatos con dayjs.js*@
    <script>
        dayjs.extend(window.dayjs_plugin_customParseFormat);
    </script>


    @if (IsSectionDefined("myScript"))
    {
        @RenderSection("myScript", false);
    }
</body>
</html>
